*{
  margin: 0px;
  padding: 0px;
}

.col-lg-8{
  border:black 1px solid;
  border-radius: 10px 10px 10px 10px;
  max-height: 792px;
  min-height: 792px;
  margin-top: 3em;
}

.margin{
  width: 90%;
}

.expeditiondate{
  margin-top: 1.7em;
  text-align: center;
}

.capa{
  width: 95%;
  margin-top: 40px;
}

.add{
  font-size: 16px;
  float: right;
  margin-top: -2px;
  margin-bottom: 10px;
}

.senderinfo{
  margin-left: 10px;
  margin-top: 1.7em;
}

.folio{
  width: 130px;
  height: 30px;
  border:black 1px solid;
  border-radius: 10px 10px 10px 10px;
  margin-left: 5em;
}

.customerinf{
  border-top:black 1px solid;
  border-bottom:black 1px solid;
  width: 103%;
  height: 100px;
}

.qr{
  padding-bottom: -30px;
}