*{
  margin: 0px;
  padding: 0px;
}

.col-lg-8{
  border:black 1px solid;
  border-radius: 10px 10px 10px 10px;
  min-height: 792px;
  margin-top: 3em;
  position: relative;
}

.margin{
  width: 90%;
}

.expeditiondate{
  margin-top: 1.7em;
  text-align: center;
  font-size: 12px;
}

.capa{
  width: 95%;
  margin-top: 40px;
}

.add{
  font-size: 16px;
  float: right;
  margin-top: -2px;
  margin-bottom: 10px;
}

.senderinfo{
  margin-left: 10px;
  margin-top: 1.7em;
  font-size: 12px;
}

.folio{
  width: 130px;
  height: 30px;
  border:black 1px solid;
  border-radius: 10px 10px 10px 10px;
  margin-left: 6.1em;
}

.inf{
  border-top:black 1px solid;
  border-bottom:black 1px solid;
  width: 103%;
  height: 140px;
}

.customerinf{
  border-right:black 1px solid;
}

.qr{
  position: absolute;
  bottom: 25px;
  margin-left: 5px;
  width: 100%;
}

.codesat{
  font-size: 13px;
}

.brand{
  margin-top: 2em;
  width: 80%;
  height: 80%;
}

.margin3em{
  margin-left: 3em;
}

.satinf{
  margin-top: 8px;
  margin-left: .1em;
  font-size: 11px;
}

.datos{
  line-height:90%;
}

.table{
  font-size: 12px;
}

.amountcalc{
  text-align: center;
  margin-left: 10em;
}

.label{
  margin-right: 2em;
}

.totales{
  width: 100px;
}

.stamp{
  width: 400px;
  margin-left: 1em;
  font-size: 11px;
  height: 35px;
}

.code{
  width: 110px;
  height: 110px;
}
