*{
  margin: 0px;
  padding: 0px;
}

.col-lg-8{
  border:black 1px solid;
  border-radius: 10px 10px 10px 10px;
  max-height: 792px;
  min-height: 792px;
}

.margin{
  width: 90%;
}

.expeditiondate{
  margin-top: 1.5em;
  margin-left: 32em;
}

.capa{
  width: 95%;
  margin-top: 40px;
}

.add{
  font-size: 16px;
  float: right;
  margin-top: -2px;
  margin-bottom: 10px;
}

.senderinfo{
  margin-left: 0px;
}
