*{
  margin: 0px;
  padding: 0px;
}

.column1 {
  width: 15%;
  padding-left: 40px;
}

.column2 {
  width: 25%;
}

.column3 {
  width: 15%;
}

.column4 {
  width: 15%;
}

.column5 {
  width: 15%;
}

.column6 {
  width: 15%;
}
